.container{
    /* max-width: 140rem; */
    /* margin: auto; */
    padding: 0px 0px 0px 5rem;
}

.grid-4-col{
    
    grid-template-columns:repeat(2,1fr);

}

.card{
    width: 600px;
    height: 750px;
    background-color:rgb(247, 243, 243);
    float: left;
    padding: 20px ;
    text-align: center;
    margin: 50px;
    margin-top: 40px;
    border-radius: 3px;
    font-family: serif;
    font-size: 20px;
    border:  1px ;
    margin-left: 7%;
    box-shadow:gainsboro 3px 3px 3px 3px;
  }
.card card-info{
    margin-left: 2%;
}
 
img{
    height: 20rem;
    width: 30rem;
}
h1{
    text-align: center;
    font-family: serif;
    font-size: 45px;
}
.text{
    border-radius: 3px;
    background-color:whitesmoke;
    color: black;
    height: 30px;
    width: 20px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow:gainsboro 3px 3px;
    
}

.card:hover{
    background-color:gainsboro;
    transform: translateY(-1.5rem);

}
a:hover{
    
    background-color:gainsboro;

}


@media(max-width:768px){
    .card {
        width: 300px;
        height: 550px;
        background-color: rgb(247, 243, 243);
        float: left;
        padding: 10px;
        text-align: center;
        margin: 30px;
        margin-top: 40px;
        border-radius: 3px;
        font-family: serif;
        font-size: 20px;
        border: 1px;
        margin-left: -138%;
        box-shadow: gainsboro 3px 3px 3px 3px;
    }
    .grid-4-col{
    
        grid-template-columns:1fr;
    
    }
        
}